.admin {
  background-color: #132D46;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.admin .card {
  width: 200px !important;
  height: 250px !important;
  margin: 10px; /* Reduced margin for a tighter layout */
  background-color: #a1a7b6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.admin .card-header {
  background-color: #56d89b9d;
}

.admin .card button {
  background-color: #ff4d4d86;
  color: white;
  border: none;
  /* padding: 10px; */
  cursor: pointer;
  width: 100%;
  height: 35px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.admin .card button:hover {
  background-color: #ff1a1acb;
}

.admin .card .card-body button {
  background-color: rgba(255, 255, 255, 0.511);
  width: 55%;
  color: black;
}