.admin-to-user {
  background-color: #132D46;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}