.bet-replication {
  background-color: #132D46;
  min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
  display: flex; /* Optional: Use flexbox to center content vertically */
  flex-direction: column;
  justify-content: center; /* Optional: Center content horizontally */
  align-items: center; /* Optional: Center content vertically */
  padding-top: 6.5rem;
  padding-bottom: 5rem;
}

.bet-replication .stocks-table {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bet-replication .stocks-table table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 10px; /* Add rounded borders to the table */
  overflow: hidden; /* Ensure the rounded borders are applied */
}

.bet-replication .stocks-table th,
.bet-replication .stocks-table td {
  border: 1px solid #ddd;
  padding: 8px;
  /* text-align: left; */
}

.bet-replication .stocks-table th {
  background-color: #41af90;
}

.bet-replication .stocks-table tr:hover {
  background-color: #b7ccc67e;
}

.stocks-table tr.selected {
  background-color: #b7ccc67e; /* Change background color for selected rows */
  color: white; /* Change text color for better readability */
}

.bet-replication .buttons-table {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* padding-left: 3.5rem; */
  margin-left: 3.5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50% !important;
  /* display: flex;
  flex-direction: column; */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  align-self: center;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h4 {
  margin-top: 1rem;
  color: black;
}

.portfolio-buttons {
  display: flex;
  flex-direction: column;
}

.portfolio-buttons button {
  margin-top: 1rem;
  width: 30%;
  align-self: center;
}

.portfolio-buttons :hover {
  background-color: #c5c5c5;
}

.selected-portf {
  background-color: #79807e8e;
  color: black;
}

.balance-button button {
  margin-top: 1rem;
  width: 30%;
  align-self: center;
  background-color: #41af90;
  border-radius: 10px;
  width: 40%;
  /* border: none; */
  border-width: 0.5rem;
}

.warning-text h5 {
  color: red;
  text-align: center;
  font-size: 1rem;
}
